:root {

    --color-primario: #242424;
    --color-primario-gradiente: radial-gradient(circle, var(--color-primario) 0%, rgba(20, 20, 20, 1) 100%);
    --color-secundario: #f8021f;

    --texto-color-primario: #ffffff;
    --texto-color-secundario: #f7f7f7;

    --tamanio-titulo-seccion: 1.7rem;
    --tamanio-subtitulo-seccion: 1.3rem;

    --padding-principal: 1rem 12rem;

}

/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
}

html {
    background: transparent;
}

body {
    min-height: 100vh;
    position: relative;
}

/* Barra de navegación */
.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 4rem;
}

.navegacion__contenedor-izquierdo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navegacion__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.navegacion__logo-imagen {
    height: 50px;
    width: auto;
    object-fit: contain;
}
  
.navegacion__titulo {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--texto-color-primario);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navegacion__contenedor-derecho {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegacion__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacion__menu-item {
    position: relative;
}

.navegacion__menu-item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--color-secundario);
    transition: width 0.3s ease;
}

.navegacion__menu-item:hover::after {
    width: 100%;
}

.navegacion__menu-enlace {
    text-decoration: none;
    color: var(--texto-color-primario);
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    padding-bottom: 6px;
    transition: color 0.3s ease;
}

.navegacion__menu-enlace:hover {
    color: var(--color-secundario);
}

.navegacion__tema {
    background: none;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.navegacion__tema:hover {
    transform: scale(1.2);
}

/* Presentación */ 
#neuronas-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(360deg,rgba(7, 7, 8, 1) 0%, rgba(45, 48, 56, 1) 40%, rgba(45, 48, 56, 1) 60%, rgba(7, 7, 8, 1) 100%);
    pointer-events: none;
}

.presentacion {
    width: 100%;
}

.presentacion__contenedor {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.presentacion__texto {
    color: var(--texto-color-primario);
    filter: drop-shadow(0px -5px 8px #000000);
}

.presentacion__saludo {
    color: var(--texto-color-secundario);
    font-size: 1.7rem;
    font-weight: 300;
    
}

.presentacion__nombre {
    font-size: 5rem;
    font-weight: 700;
    
}

.presentacion__descripcion {
    max-width: 800px;
    font-size: 2rem;
    font-weight: 600;
    text-wrap: pretty;
    color: var(--color-secundario);
}

.presentacion__acciones {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.presentacion__boton {
    position: relative;
    height: 50px;
    width: 180px;
    background-color: transparent;
    cursor: pointer;
    border: 4px solid #686868;
    overflow: hidden;
    border-radius: 30px;
    color: var(--texto-color-primario);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    padding: 10px 20px;
    box-shadow: 1px 1px 30px #000000;
    background-color: var(--color-primario);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(80px);
}

.presentacion__boton span {
    z-index: 1;
    position: relative;
}

.presentacion__boton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s ease-in-out;
    background-color: #141414;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.presentacion__boton:hover {
    box-shadow: 1px 1px 30px #c0c0c0;
    color: #fff;
    border: none;
}

.presentacion__boton:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.presentacion__boton--cv {
    color: #fff;
    border-color: var(--color-secundario);
}

.presentacion__boton--cv::after {
    background: var(--color-secundario);
}

.presentacion__boton--cv:hover {
    box-shadow: 1px 1px 30px var(--color-secundario);
    color: #fff;
    border: none;
}

.presentacion__iconos-fondo {
    position: relative;
    width: 600px;
    height: 615px;
    overflow: hidden;
    border-radius: 1rem;
    filter: brightness(70%) grayscale(100%);
}

.presentacion__iconos-fondo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
    filter: brightness(80%);
}

/* Sección Sobre Mi */
.sobre-mi {
    width: 100%;
    padding: var(--padding-principal);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.sobre-mi__titulo {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-titulo-seccion);
    color: var(--texto-color-primario);
    font-weight: bold;
    border-bottom: 2px solid var(--texto-color-primario);
    padding-bottom: 10px;
}

.sobre-mi__titulo2 {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-subtitulo-seccion);
    font-weight: normal;
    color: var(--color-secundario);
}

.sobre-mi__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background: var(--color-secundario);
    margin-left: 10px;
    vertical-align: middle;
}

.sobre-mi__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 30px;
}

.seccion-perfil {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.seccion-perfil__imagen-contenedor {
    width: 100%;
    height: 100%;
}

.seccion-perfil__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px -10px 20px #000000);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.seccion-perfil__contenido {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
    gap: 0.5rem;
    padding: 20px 60px;
    font-size: 24px;
}

.seccion-perfil__presentacion,
.seccion-perfil__formacion {
    color: var(--texto-color-secundario);
}

.seccion-perfil__tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding: 10px 120px;
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologia__icono {
    width: 40px;
    height: 40px;
}

.tecnologia:nth-child(1) .tecnologia__icono {
    width: 25px;
    height: 30px;
}
  
.tecnologia:nth-child(2) .tecnologia__icono {
    width: 30px;
    height: 33px;
}
  
.tecnologia:nth-child(3) .tecnologia__icono {
    width: 30px;
    height: 35px;
}

.tecnologia:nth-child(4) .tecnologia__icono {
    width: 30px;
}
  
.tecnologia:nth-child(5) .tecnologia__icono {
    width: 30px;
}
  
.tecnologia:nth-child(6) .tecnologia__icono {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(7) .tecnologia__icono {
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(8) .tecnologia__icono {
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(9) .tecnologia__icono,
.tecnologia:nth-child(10) .tecnologia__icono,
.tecnologia:nth-child(11) .tecnologia__icono {
    width: 30px;
    height: 30px;
    margin-top: 14px;
}

.tecnologia__nombre {
    color: var(--texto-color-secundario);
    font-size: 14px;
}

.seccion-perfil__parrafo {
    color: var(--texto-color-secundario);
}

/*¨Certificaciones */
.certificaciones {
    width: 100%;
    padding: var(--padding-principal);
}

.certificaciones__titulo {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-titulo-seccion);
    color: var(--texto-color-primario);
    font-weight: bold;
    border-bottom: 2px solid var(--texto-color-primario);
    padding-bottom: 10px;
}

.certificaciones__titulo2 {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-subtitulo-seccion);
    font-weight: normal;
    color: var(--color-secundario);
}

.certificaciones__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background: var(--color-secundario);
    margin-left: 10px;
    vertical-align: middle;
}

.certificaciones__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 30px;
}

.certificacion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background: var(--color-primario-gradiente);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.certificacion:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.certificacion__imagen {
    width: 130px;
    border-radius: 10px;
}

.certificacion__contenido {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.certificacion__nombre {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--texto-color-primario);
}

.certificacion__institucion {
    font-size: 1rem;
    font-weight: 300;
    color: var(--texto-color-secundario);
}

.certificacion__boton {
    text-decoration: none;
    margin-left: auto;
    padding: 6px 30px;
    font-size: 1.1rem;
    background: var(--color-secundario);
    color: #dddddd;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
  
.certificacion__boton:hover {
    background-color: #c60118;
}

/* Proyectos*/
.proyectos {
    width: 100%;
    padding: var(--padding-principal);
}

.proyectos__titulo {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-titulo-seccion);
    color: var(--texto-color-primario);
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
}

.proyectos__titulo2 {
    width: 100%;
    text-align: start;
    font-size: var(--tamanio-subtitulo-seccion);
    font-weight: normal;
    color: var(--color-secundario);
}

.proyectos__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #f8021f;
    margin-left: 10px;
    vertical-align: middle;
}

.proyectos__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 30px;
}

.proyectos__item {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 3 / 2;
    perspective: 1000px;
}

.proyectos__tarjeta {
    width: 100%;
    height: 84%;
    position: relative;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 15px 15px 30px rgb(0, 0, 0, 0.5),
    -15px -15px 30px rgb(0, 0, 0, 0.5);
}

.proyectos__tarjeta:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.proyectos__cara {
    position: absolute;
    width: 100%;
    border-radius: 0.3rem;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: var(--color-primario-gradiente);
    text-align: center;
}

.proyectos__boton {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 1.1rem;
    background: var(--color-secundario);
    color: #dddddd;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
  
.proyectos__boton:hover {
    background-color: #c60118;
}

.proyectos__cara--trasera {
    transform: rotateY(180deg);
    height: 100%;
}

.proyectos__imagen {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    object-fit: cover;
}

.proyectos__nombre {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--texto-color-primario);
    text-align: start;
    border-bottom: 3px solid var(--texto-color-primario);
    margin-bottom: 20px;
}

.proyectos__descripcion {
    font-size: 1rem;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--texto-color-primario);
    overflow: auto;
}

/* Pie de página */
.pie-de-pagina {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    border-top: 1px solid var(--texto-color-primario);
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.pie-de-pagina__contenido {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 60px 0;
}

.pie-de-pagina__grupo {
    display: flex;
    flex-direction: column;
    width: 350px;
    color: var(--texto-color-primario);
}

.pie-de-pagina__grupo-identidad {
    width: 550px;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.pie-de-pagina__logo-imagen {
    width: 120px;
}

.titulo-frase__titulo-nombre {
    font-size: 3.3rem;
    align-items: center;
}

.titulo-frase__descripcion {
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 300;
}

.pie-de-pagina__titulo {
    
    font-size: 1.4rem;
    padding: 6px 0;
    border-bottom: 3px solid var(--texto-color-primario);
}

.pie-de-pagina__lista {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: 10px;
}

.pie-de-pagina__grupo-inferior {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    border-bottom: 1px solid rgba(221, 221, 221, 0.5);
}

.pie-de-pagina__lista_inferior {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 15px 0;
}

.pie-de-pagina__item {
    list-style: none;
}

.pie-de-pagina__enlace {
    text-decoration: none;
    color: var(--texto-color-primario);
    font-size: 1.3rem;
}

.pie-de-pagina__enlace:hover {
    color: var(--color-secundario);
}

.pie-de-pagina__grupo-copyright {
    width: 100%;
    color: var(--texto-color-primario);
    display: flex;
    justify-content: end;
    align-items: center;
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.pie-de-pagina__grupo-fecha {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie-de-pagina__fecha-hora {
    font-size: 1.1rem;
    color: var(--texto-color-primario);
    text-align: center;
}

/* Modal */
.modal-imagen {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}
  
  .modal-imagen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px black;
}
  
  .modal-cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}

.navegacion__hamburguesa {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 1366px) {

    :root {

        --tamanio-titulo-seccion: 1.3rem;
        --tamanio-subtitulo-seccion: 1rem;
      
        --padding-principal: 1rem 8rem;
    }

    /* Barra de navegación */
    .navegacion__menu-enlace {
        font-weight: 400;
        font-size: 0.9rem;
    }

    .navegacion__logo-imagen {
        height: 35px;
    }
      
    .navegacion__titulo {
        font-size: 1.8rem;
        font-weight: 600;
    }
    /* Presentación */
    .presentacion__saludo {
        font-size: 1.5rem;
        font-weight: 200;
        
    }
    
    .presentacion__nombre {
        font-size: 4rem;
        
    }
    
    .presentacion__descripcion {
        max-width: 600px;
        font-size: 1.6rem;
        
    }

    .presentacion__boton {
        height: 50px;
        width: 150px;
        font-size: 17px;
        font-weight: 600;
        margin-top: 30px;
    }

    .presentacion__iconos-fondo {
        width: 450px;
        height: 465px
    }

    /* Sección Acerca de Mi */
    .sobre-mi__titulo {
        font-size: var(--tamanio-titulo-seccion);
        padding-bottom: 15px;
    }
    
    .sobre-mi__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }
    
    .sobre-mi__titulo2::after {
        width: 30px;
        height: 2px;
        margin-left: 10px;
    }

    .sobre-mi__contenedor {
        padding-top: 20px;
    }

    .seccion-perfil__contenido {
        gap: 0.4rem;
        padding: 20px 20px;
        font-size: 16px;
    }

    .seccion-perfil__tecnologias {
        padding: 10px 80px;
    }

    .tecnologia__nombre {
        color: #dddddd;
        font-size: 12px;
    }

    /*¨Certificaciones */

    .certificaciones__titulo {
        font-size: var(--tamanio-titulo-seccion);
        padding-bottom: 15px;
    }

    .certificaciones__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }

    .certificaciones__contenedor {
        padding-top: 20px;
    }

    .certificacion {
        gap: 1rem;
        padding: 0.8rem;
    }

    .certificacion__imagen {
        width: 110px;
    }

    .certificacion__nombre {
        font-size: 0.8rem;
    }

    .certificacion__institucion {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .certificacion__boton {
        padding: 6px 25px;
        font-size: 0.7rem;
    }

    /* Sección Proyectos */
    .proyectos__titulo {
        font-size: var(--tamanio-titulo-seccion);
        padding-bottom: 15px;
    }
    
    .proyectos__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }
    
    .proyectos__titulo2::after {
        width: 30px;
        height: 2px;
        margin-left: 10px;
    }

    .proyectos__contenedor {
        gap: 1.5rem;
        margin: 20px;
    }

    .proyectos__item {
        max-width: 330px;
        margin-top: 20px;
    }

    .proyectos__nombre {
        font-size: 1.1rem;
    }

    .proyectos__descripcion {
        font-size: 0.8rem;
        overflow: auto;
    }

    .proyectos__boton {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 430px) and (max-height: 932px) {

    :root {
      --tamanio-titulo-seccion: 1.8rem;
      --tamanio-subtitulo-seccion: 1.5rem;
      --padding-principal: 1rem 1rem;
    }

    html, body {
        overflow-x: hidden;
    }
  
    /* Barra de navegación */
    .navegacion {
        padding: 1.5rem 1rem;
        height: 80px;
        gap: 0.5rem;
    }
  
    .navegacion__logo-imagen {
      height: 40px;
    }
  
    .navegacion__titulo {
      font-size: 1.8rem;
    }
  
    .navegacion__hamburguesa {
      display: block;
      font-size: 1.8rem;
    }
  
    .navegacion__menu {
      display: none;
      flex-direction: column;
      background-color: rgba(0, 0, 0, 0.9);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      padding: 1rem;
      position: absolute;
      top: 100%;
      right: 0;
      width: 100%;
      z-index: 1000;
      transition: all 0.3s ease;
      gap: 30px;
    }
  
    .navegacion__menu.activo {
      display: flex;
    }
  
    .navegacion__menu-enlace {
      font-size: 1.3rem;
    }

    .navegacion__menu-item::after {
        display: none;
    }
  
    /* Presentación */
    .presentacion__contenedor {
        flex-direction: column;
        gap: 2rem;
        padding: 260px 1rem 2rem 1rem;
        text-align: center;
    }
  
    .presentacion__saludo {
        font-size: 1.6rem;
    }
  
    .presentacion__nombre {
        font-size: 3.7rem;
    }
  
    .presentacion__descripcion {
        font-size: 1.6rem;
        max-width: 100%;
        flex-wrap: wrap;
    }
  
    .presentacion__acciones {
        width: 100%;
        gap: 1rem;
    }
  
    .presentacion__boton {
        width: 150px;
        height: 45px;
        font-size: 18px;
    }
  
    .presentacion__iconos-fondo {
        width: 250px;
        height: 265px;
    }

    /* Sección Sobre Mi */
    .sobre-mi {
        padding: 2rem 1rem;
        gap: 0.2rem;
    }

    .sobre-mi__titulo {
        font-size: var(--tamanio-titulo-seccion);
    }

    .sobre-mi__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }

    .sobre-mi__contenedor {
        padding-top: 20px;
        gap: 2rem;
    }
  
    .seccion-perfil {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .seccion-perfil__imagen-contenedor {
        display: flex;
        justify-content: center;
    }
  
    .seccion-perfil__imagen {
        width: 100%;
        max-width: 300px;
        border-radius: 1rem;
    }
  
    .seccion-perfil__contenido {
        padding: 0 1rem;
        font-size: 1.2rem;
    }
  
    .seccion-perfil__tecnologias {
        padding: 0 1rem;
        gap: 1rem;
    }
  
    .tecnologia__nombre {
      font-size: 12px;
    }
  
    /* Certificaciones */
    .certificaciones__titulo {
        font-size: var(--tamanio-titulo-seccion);
    }
    
    .certificaciones__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }

    .certificaciones__contenedor {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 20px;
    }

    .certificacion {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
  
    .certificacion__imagen {
        width: 100%;
        max-width: 250px;
    }

    .certificacion__contenido {
        width: 100%;
        align-items: center;
    }
  
    .certificacion__nombre {
        font-size: 1.3rem;
        text-align: center;
    }

    .certificacion__institucion {
        font-size: 1.2rem;
        text-align: center;
    }
  
    .certificacion__boton {
        margin: 10px auto 5px auto;
        padding: 8px 50px;
        font-size: 1.1rem;
    }
  
    /* Proyectos */
    .proyectos__titulo {
        font-size: var(--tamanio-titulo-seccion);
    }

    .proyectos__titulo2 {
        font-size: var(--tamanio-subtitulo-seccion);
    }

    .proyectos__item {
        perspective: none;
        aspect-ratio: auto;
    }

    .proyectos__tarjeta {
        height: auto;
        transform: none !important;
        box-shadow: none;
        display: flex;
        flex-direction: column;
    }

    .proyectos__tarjeta:hover {
        transform: none;
        cursor: default;
    }

    .proyectos__cara {
        position: static;
        transform: none !important;
        backface-visibility: visible;
        border-radius: 0;
        box-shadow: none;
    }

    .proyectos__cara--frontal,
    .proyectos__cara--trasera {
        display: block;
        width: 100%;
    }

    .proyectos__imagen {
        width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 0.3rem 0.3rem 0 0;
    }

    .proyectos__boton {
        padding: 8px 16px;
        font-size: 1.1rem;
    }

    .proyectos__nombre {
        font-size: 1.4rem;
    }

    .proyectos__descripcion {
        font-size: 1.1rem;
        text-overflow: unset;
        max-height: 180px;
        overflow-y: auto;
    }

    /* Pie de Página */
    .pie-de-pagina__contenido {
        flex-direction: column;
        align-items: center;
        padding: 40px 0;
        gap: 1rem;
    }

    .pie-de-pagina__grupo,
    .pie-de-pagina__grupo-identidad {
        width: 90%;
        align-items: center;
        text-align: center;
    }

    .pie-de-pagina__grupo-identidad {
        flex-direction: column;
        gap: 1rem;
    }

    .pie-de-pagina__lista-horizontal-responsive {
        flex-direction: row;
        gap: 1rem;
    }

    .pie-de-pagina__logo-imagen {
        width: 70px;
    }

    .titulo-frase__titulo-nombre {
        font-size: 2.2rem;
    }

    .titulo-frase__descripcion {
        font-size: 1.1rem;
    }

    .pie-de-pagina__titulo {
        font-size: 1.2rem;
    }

    .pie-de-pagina__enlace {
        font-size: 1.1rem;
    }

    .pie-de-pagina__lista_inferior {
        gap: 0.5rem;
    }

    .pie-de-pagina__grupo-copyright {
        width: 100%;
        font-size: 1rem;
    }

    .pie-de-pagina__grupo-fecha {
        align-items: center;
        width: 100%;
    }

    .pie-de-pagina__fecha-hora {
        font-size: 1rem;
    }

}
  
