:root {
    /* Variables a medida que hago codigo */
    /* Navegación */
    --color-texto-navegacion: #dddddd;
    --color-acento-texto-navegacion: #f8021f;

    /* Presentación */
    /* Colores */
    --presentacion-color-texto: #dddddd;
    --presentacion-color-parrafo: #f8021f;
    --presentacion-color-boton: #e1e1e1;

    /* Tamaños de texto */
    --presentacion-texto-saludo: 1.7rem;
    --presentacion-texto-nombre: 5rem;
    --presentacion-texto-descripcion: 2rem;
    --presentacion-texto-boton: 20px;

    /* Fondo */
    --presentacion-background: linear-gradient(360deg,rgba(7, 7, 8, 1) 0%, rgba(45, 48, 56, 1) 40%, rgba(45, 48, 56, 1) 60%, rgba(7, 7, 8, 1) 100%);

    /* Sección Sobre Mi */
    --tamanio-titulo-sobre-mi: 2.5rem;
    --tamanio-subtitulo-sobre-mi: 28px;
    --tamanio-parrafo-sobre-mi: 18px;
    --color-titulo-sobre-mi: #dddddd;
    --color-subtitulo-sobre-mi: #dddddd;
    --color-parrafo-sobre-mi: #dddddd;
    --color-tarjeta-sobre-mi: #434343;

    /* Sección Proyectos */
    /* Colores */
    --color-fondo-caja: #434343;
    --color-texto-primario: #dddddd;

    /* Pie de Página */
    --color-fondo-footer: #000000;
    --color-borde-superior: #ffffff;
    --color-texto: #dddddd;
    --color-sombra-icono: #dddddd;

}

/* Estilos generales */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
    font-style: normal;
}

html {
    background-color: var(--color-fondo-principal);
}

body {
    min-height: 100vh;
    position: relative;
    background: linear-gradient(360deg,rgba(7, 7, 8, 1) 0%, rgba(45, 48, 56, 1) 40%, rgba(45, 48, 56, 1) 60%, rgba(7, 7, 8, 1) 100%);;
}

/* Barra de navegación */
.encabezado {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 4rem;
}

.navegacion__contenedor-izquierdo {
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.navegacion__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 0.5rem;
}

.navegacion__logo-imagen {
    height: 50px;
    width: auto;
    object-fit: contain;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}
  
.navegacion__titulo {
    font-size: 2.2rem;
    font-weight: 700;
    color: var(--color-texto-navegacion);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.navegacion__contenedor-derecho {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.navegacion__menu {
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacion__menu-item {
    position: relative;
}

.navegacion__menu-item::after {
    content: "";
    position: absolute;
    bottom: -21px;
    left: 0;
    width: 0%;
    height: 4px;
    background-color: var(--color-acento-texto-navegacion);
    transition: width 0.3s ease;
}

.navegacion__menu-item:hover::after {
    width: 100%;
}

.navegacion__menu-enlace {
    text-decoration: none;
    color: var(--color-texto-navegacion);
    font-weight: 600;
    font-size: 1.1rem;
    display: inline-block;
    padding-bottom: 4px;
    transition: color 0.3s ease;
}

.navegacion__menu-enlace:hover {
    color: var(--color-acento-texto-navegacion);
}

.navegacion__tema {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    transition: transform 0.2s ease;
}
  
.navegacion__tema:hover {
    transform: scale(1.2);
}

/* Presentación */
  
#neuronas-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background: linear-gradient(360deg,rgba(7, 7, 8, 1) 0%, rgba(45, 48, 56, 1) 40%, rgba(45, 48, 56, 1) 60%, rgba(7, 7, 8, 1) 100%);
    pointer-events: none;
}

.presentacion {
    width: 100%;
    height: 100vh;
}

.presentacion__contenedor {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1;
}

.presentacion__texto {
    color: var(--presentacion-color-texto);
    filter: drop-shadow(0px -5px 8px #000000);
}

.presentacion__saludo {
    color: var(--presentacion-color-texto);
    font-size: 1.7rem;
    font-weight: 300;
    
}

.presentacion__nombre {
    font-size: 5rem;
    font-weight: 700;
    
}

.presentacion__descripcion {
    max-width: 800px;
    font-size: 2rem;
    font-weight: 600;
    text-wrap: pretty;
    color: var(--presentacion-color-parrafo);
    
}

.presentacion__acciones {
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.presentacion__boton {
    position: relative;
    height: 50px;
    width: 180px;
    background-color: transparent;
    cursor: pointer;
    border: 4px solid #686868;
    overflow: hidden;
    border-radius: 30px;
    color: var(--presentacion-color-boton, #333);
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    margin-top: 40px;
    padding: 10px 20px;
    box-shadow: 1px 1px 30px #000000;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(80px);
}

.presentacion__boton span {
    z-index: 1;
    position: relative;
}

.presentacion__boton::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.8s ease-in-out;
    background-color: #333;
    border-radius: 30px;
    visibility: hidden;
    height: 10px;
    width: 10px;
    z-index: -1;
}

.presentacion__boton:hover {
    box-shadow: 1px 1px 30px #c0c0c0;
    color: #fff;
    border: none;
}

.presentacion__boton:hover::after {
    visibility: visible;
    transform: scale(100) translateX(2px);
}

.presentacion__boton--cv {
    color: #fff;
    border-color: #f8021f;
}

.presentacion__boton--cv::after {
    background-color: #f8021f;
}

.presentacion__boton--cv:hover {
    box-shadow: 1px 1px 30px #f8021f;
    color: #fff;
    border: none;
}

.presentacion__iconos-fondo {
    position: relative;
    width: 600px;
    height: 615px;
    overflow: hidden;
    border-radius: 1rem;
    filter: brightness(70%) grayscale(100%);
}

.presentacion__iconos-fondo img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease;
    filter: brightness(80%);
}

/* Sección Sobre Mi */
.sobre-mi {
    width: 100%;
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.sobre-mi__titulo {
    width: 100%;
    text-align: start;
    font-size: 1.7rem;
    color: #dddddd;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
}

.sobre-mi__titulo2 {
    width: 100%;
    text-align: start;
    font-size: 1.3rem;
    font-weight: normal;
    color: #f8021f;
}

.sobre-mi__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #f8021f;
    margin-left: 10px;
    vertical-align: middle;
}

.sobre-mi__contenedor {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 30px;
}

.seccion-perfil {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.seccion-perfil__imagen-contenedor {
    width: 90%;
    height: 100%;
}

.seccion-perfil__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: drop-shadow(0px -10px 20px #000000);
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.seccion-perfil__contenido {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    text-align: center;
    gap: 0.5rem;
    padding: 20px 40px;
    font-size: 18px;
}

.seccion-perfil__presentacion,
.seccion-perfil__formacion {
    color: #dddddd;
}

.seccion-perfil__tecnologias {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.3rem;
    padding: 10px 120px;
}

.tecnologia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tecnologia__icono {
    width: 40px;
    height: 40px;
}

.tecnologia:nth-child(1) .tecnologia__icono {
    width: 25px;
    height: 30px;
}
  
.tecnologia:nth-child(2) .tecnologia__icono {
    width: 30px;
    height: 33px;
}
  
.tecnologia:nth-child(3) .tecnologia__icono {
    width: 30px;
    height: 35px;
}

.tecnologia:nth-child(4) .tecnologia__icono {
    width: 30px;
}
  
.tecnologia:nth-child(5) .tecnologia__icono {
    width: 30px;
}
  
.tecnologia:nth-child(6) .tecnologia__icono {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(7) .tecnologia__icono {
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(8) .tecnologia__icono {
    height: 30px;
    margin-top: 10px;
}

.tecnologia:nth-child(9) .tecnologia__icono,
.tecnologia:nth-child(10) .tecnologia__icono,
.tecnologia:nth-child(11) .tecnologia__icono {
    width: 30px;
    height: 30px;
    margin-top: 14px;
}

.tecnologia__nombre {
    color: #dddddd;
    font-size: 14px;
}

.seccion-perfil__parrafo {
    color: #dddddd;
}

/*¨Certificaciones */
.certificaciones {
    width: 100%;
    padding: 1rem 8rem;
}

.certificaciones__titulo {
    width: 100%;
    text-align: start;
    font-size: 1.7rem;
    color: #dddddd;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
}

.certificaciones__titulo2 {
    width: 100%;
    text-align: start;
    font-size: 1.3rem;
    font-weight: normal;
    color: #f8021f;
}

.certificaciones__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #f8021f;
    margin-left: 10px;
    vertical-align: middle;
}

.certificaciones__contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-top: 30px;
}

.certificacion {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #1e1e1e;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.certificacion:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.5);
}

.certificacion__imagen {
    width: 130px;
    border-radius: 10px;
}

.certificacion__contenido {
    width: 60%;
    display: flex;
    flex-direction: column;
    color: #dddddd;
}

.certificacion__nombre {
    font-size: 1rem;
    font-weight: bold;
}

.certificacion__institucion {
    font-weight: 300;
}

.certificacion__boton {
    padding: 6px 30px;
    font-size: 0.8rem;
    background-color: #f8021f;
    color: #dddddd;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
  
.certificacion__boton:hover {
    background-color: #c60118;
}

/* Proyectos*/
.proyectos {
    width: 100%;
    padding: 1rem 8rem;
}

.proyectos__titulo {
    width: 100%;
    text-align: start;
    font-size: 1.7rem;
    color: #dddddd;
    font-weight: bold;
    border-bottom: 2px solid #dddddd;
    padding-bottom: 10px;
}

.proyectos__titulo2 {
    width: 100%;
    text-align: start;
    font-size: 1.3rem;
    font-weight: normal;
    color: #f8021f;
}

.proyectos__titulo2::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background-color: #f8021f;
    margin-left: 10px;
    vertical-align: middle;
}

.proyectos__contenedor {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 30px;
}

.proyectos__item {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 3 / 2;
    perspective: 1000px;
}

.proyectos__tarjeta {
    width: 100%;
    height: 84%;
    position: relative;
    transition: transform 0.9s ease-in-out;
    transform-style: preserve-3d;
    box-shadow: 15px 15px 30px rgb(0, 0, 0, 0.5),
    -15px -15px 30px rgb(0, 0, 0, 0.5);
}

.proyectos__tarjeta:hover {
    transform: rotateY(180deg);
    cursor: pointer;
}

.proyectos__cara {
    position: absolute;
    width: 100%;
    border-radius: 0.3rem;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    background-color: #1e1e1e;
    text-align: center;
}

.proyectos__boton {
    margin-top: 20px;
    padding: 8px 16px;
    font-size: 0.9rem;
    background-color: #f8021f;
    color: #dddddd;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}
  
.proyectos__boton:hover {
    background-color: #c60118;
}

.proyectos__cara--trasera {
    transform: rotateY(180deg);
    height: 100%;
}

.proyectos__imagen {
    width: 100%;
    height: auto;
    border-radius: 0.3rem;
    object-fit: cover;
}

.proyectos__nombre {
    font-size: 1.3rem;
    font-weight: bold;
    color: #dddddd;
    text-align: start;
    border-bottom: 3px solid #dddddd;
    margin-bottom: 20px;
}

.proyectos__descripcion {
    font-size: 0.9rem;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Pie de página */
.pie-de-pagina {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 300px;
    border-top: 1px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding-top: 3rem;
}

.pie-de-pagina__contenido {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.pie-de-pagina__grupo {
    display: flex;
    flex-direction: column;
    width: 350px;
}

.pie-de-pagina__titulo {
    padding: 6px;
    color: #dddddd;
    border-bottom: 3px solid #dddddd;
}

.pie-de-pagina__lista {
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.pie-de-pagina__grupo-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 20px;
}

.pie-de-pagina__lista_inferior {
    width: 68%;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-top: 15px;
    border-top: 1px solid #dddddd;
}

.pie-de-pagina__item {
    list-style: none;
}

.pie-de-pagina__enlace {
    text-decoration: none;
    color: #dddddd;
}

.pie-de-pagina__enlace:hover {
    color: #f8021f;
}

.pie-de-pagina__icono {
    width: 50px;
    aspect-ratio: 1;
    object-fit: contain;
    filter: drop-shadow(0px 0px 3px #dddddd);
}

.pie-de-pagina__grupo-copyright {
    width: 100%;
    color: #dddddd;
    display: flex;
    justify-content: end;
    align-items: center;
}

/* Modal */
.modal-imagen {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}
  
  .modal-imagen img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 0.5rem;
    box-shadow: 0 0 30px black;
}
  
  .modal-cerrar {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}  

/* Responsive */
@media (max-width: 1366px) {
    /* Barra de navegación */
    .navegacion__menu-enlace {
        font-weight: 400;
        font-size: 1rem;
    }

    .navegacion__logo-imagen {
        height: 40px;
    }
      
    .navegacion__titulo {
        font-size: 1.8rem;
        font-weight: 600;
    }
    /* Presentación */
    .presentacion__saludo {
        font-size: 1.5rem;
        font-weight: 200;
        
    }
    
    .presentacion__nombre {
        font-size: 4rem;
        
    }
    
    .presentacion__descripcion {
        max-width: 600px;
        font-size: 1.6rem;
        
    }

    .presentacion__boton {
        height: 50px;
        width: 160px;
        font-size: 17px;
        font-weight: 600;
        margin-top: 30px;
    }

    .presentacion__iconos-fondo {
        width: 450px;
        height: 465px
    }

    /* Sección Acerca de Mi */
    .sobre-mi__titulo {
        font-size: 1.4rem;
        padding-bottom: 15px;
    }
    
    .sobre-mi__titulo2 {
        font-size: 1.1rem;
    }
    
    .sobre-mi__titulo2::after {
        width: 30px;
        height: 2px;
        margin-left: 10px;
    }

    .sobre-mi__contenedor {
        padding-top: 20px;
    }

    .seccion-perfil__contenido {
        gap: 0.4rem;
        padding: 20px 20px;
        font-size: 16px;
    }

    .seccion-perfil__tecnologias {
        padding: 10px 80px;
    }

    .tecnologia__nombre {
        color: #dddddd;
        font-size: 12px;
    }

    /*¨Certificaciones */

    .certificaciones__titulo {
        font-size: 1.4rem;
        padding-bottom: 15px;
    }

    .certificaciones__titulo2 {
        font-size: 1.1rem;
    }

    .certificaciones__contenedor {
        padding-top: 20px;
    }

    .certificacion {
        gap: 1rem;
        padding: 0.8rem;
    }

    .certificacion__imagen {
        width: 110px;
    }

    .certificacion__nombre {
        font-size: 0.8rem;
    }

    .certificacion__institucion {
        font-size: 0.8rem;
        font-weight: 400;
    }

    .certificacion__boton {
        padding: 6px 25px;
        font-size: 0.7rem;
    }

    /* Sección Proyectos */
    .proyectos__titulo {
        font-size: 1.4rem;
        padding-bottom: 15px;
    }
    
    .proyectos__titulo2 {
        font-size: 1.1rem;
    }
    
    .proyectos__titulo2::after {
        width: 30px;
        height: 2px;
        margin-left: 10px;
    }

    .proyectos__contenedor {
        gap: 1.5rem;
        margin: 20px;
    }

    .proyectos__item {
        max-width: 280px;
        margin-top: 20px;
    }

    .proyectos__nombre {
        font-size: 1.1rem;
    }

    .proyectos__descripcion {
        font-size: 0.9rem;
    }

    .proyectos__boton {
        font-size: 0.7rem;
    }
}
